@page "/claims"
<AuthorizeView>
    <Authorized>
        <h2>
            Hello @context.User.Claims.FirstOrDefault(x=>x.Type == "username").Value,
            here's the list of your claims:
        </h2>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <p>I'm sorry, I can't display anything until you log in</p>
    </NotAuthorized>
</AuthorizeView>