@page "/"

<div class="column">
    <div class="ui segment">
        <h3 class="ui header">Add a new album</h3>
        <div class="ui action left icon input">
            <input placeholder="New Album Name" name="name" type="text" value="">
            <i aria-hidden="true" class="plus icon"></i>
            <button class="ui button">Create</button>
        </div>
    </div>

    <div class="ui segment">
        <h3 class="ui header">My Albums</h3>
        <div role="list" class="ui divided relaxed list">
            <div role="listitem" class="item">
                <a href="/albums/92470788-51c4-43f6-8ab8-5b13e5cb536c">Sanjay Gulati</a>
            </div>
        </div>
    </div>
</div>
