@using GraphQL
@inject GraphQLHttpClient AlbumClient
@using Newtonsoft.Json

<div class="ui segment">
    <h3 class="ui header">My Albums</h3>
    <div role="list" class="ui divided relaxed list">
        @foreach (var item in albums)
        {
            <div role="listitem" class="item">
                <a href="/albums/@item.Id">@item.Name</a>
            </div>
        }
        
    </div>
</div>

@code {

    private IReadOnlyList<Album> albums = new List<Album>();

    protected override async Task OnInitializedAsync()
    {
        var result = await GetAllAlbums();

        albums = result;
    }

    public async Task<Album[]> GetAllAlbums()
    {
        var query = new GraphQLRequest
        {
            Query = @"
                    query albumQuery{
                      listAlbums {
                        items {
                            id
                            name
                        }
                      }
                    }"
        };
        var response = await AlbumClient.SendQueryAsync<ListAlbumResponse>(query);

        return response.Data?.ListAlbums?.Albums ?? new Album[] { };
    }

}