@inherits LayoutComponentBase

 

<div class="main">
    <div class="ui inverted attached menu">
        <div class="item">
            <a href='/'>
                <div class="ui yellow header">Albums</div>
            </a>
        </div>
        <div class="right menu">
            <div class="item">
                <LoginDisplay />
            </div>
        </div>
    </div>

    <div class="ui padded grid">
        
            @Body
        
    </div>
</div>
